:root {
    --color-white: #fafafa;
    --color-grey: #afb2bf;
    --color-grey-stroke: #4d5064;
    --color-grey-dark: #1e1f29;
    --color-violet: #6c38cc;
    --color-violet-hover: #452481;
    --color-background: #16171d;
}
