:root {
    --color-medium-content: #787a7c;
    --color-dark-content: #373737;
    --color-light-content: #dddfe1;

    --color-blue-accent: #1f74e7;

    --color-main: #ffffff;
    --color-extended: #f6f8fc;
}
